* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background-color: #002339;
    color: white;
}
.container {
    width: 90%;
    max-width: 700px;
    margin: 12%;
}
.display {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    border-radius: 8px;
}
.container h1 {
    font-size: 45px;
    font-weight: 500;
}
.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 6px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 25px;
}
.display img {
    width: 30px;
    cursor: pointer;
}
.container button img {
    width: 28px;
    margin-right: 10px;
}
.container button {
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 16px 26px;
    border-radius: 6px;
    cursor: pointer;
}
    
    
